<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Fellows Stats</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="homeStyle.css">
</head>

<body>
  <section>
    <a href="/makeItPretty"><img src="cf-logo-shield.png" alt=""></a>
  </section>
</body>

</html>